# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native generated folders
/ios/
/android/

# Environment files
.env
.env.*
!.env.example

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*

# OS / editor
.DS_Store
.vscode/
.idea/